<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gedcom.Import.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings>
  </connectionStrings>
  <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
      <!--  
      <Gedcom.Import.My.MySettings>
        <setting name="WebSite" serializeAs="String">
          <value>http://localhost:4807/</value>
        </setting>
      </Gedcom.Import.My.MySettings>
-->
     <!--
      <Gedcom.Import.My.MySettings>
        <setting name="WebSite" serializeAs="String">
          <value>http://test.genealogiachilenaenred.cl/</value>
        </setting>
      </Gedcom.Import.My.MySettings>
      -->

   
    <Gedcom.Import.My.MySettings>
        <setting name="WebSite" serializeAs="String">
          <value>http://www.genealogiachilenaenred.cl/</value>
        </setting>
      </Gedcom.Import.My.MySettings>
   
      
    </applicationSettings>

  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
  </appSettings>
  
</configuration>
