<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gedcom.Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=gcr_db;persist security info=True;user id=gcr;password=t62312!;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ServerConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=gcr_db;persist security info=True;user id=gcr;password=t62312!;pooling=False;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
    
<!--
    <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=gcr_db;persist security info=True;user id=sa;password=t62312!;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ServerConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=gcr_db;persist security info=True;user id=sa;password=t62312!;pooling=False;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
    -->
  
<!--
  <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=gcr_local;persist security info=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ServerConnection" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=gcr_local;persist security info=True;pooling=False;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
-->
  <!--
  <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=kepler.phi9.com;initial catalog=gcr_db;persist security info=True;user id=gcr;password=t62312!;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ServerConnection" connectionString="data source=kepler.phi9.com;initial catalog=gcr_db;persist security info=True;user id=gcr;password=t62312!;pooling=False;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
 -->

  <!--
  <add name="ModelContainer" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=65.50.243.109;initial catalog=gcr_test;persist security info=True;user id=gcr;password=t62312!;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ServerConnection" connectionString="data source=65.50.243.109;initial catalog=gcr_test;persist security info=True;user id=gcr;password=t62312!;pooling=False;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
  -->
    
  </connectionStrings>

  <system.web>
    <httpRuntime maxRequestLength="10000" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="None">
    </authentication>
    <!--
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    -->

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    
  </system.web>

  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
  </appSettings>  
 
 
  <applicationSettings>
    <Gedcom.Web.My.MySettings>
      <setting name="WebSite" serializeAs="String">
        <value>http://www.genealogiachilenaenred.cl/</value>
      </setting>
      <setting name="Debug" serializeAs="String">
        <value>False</value>
      </setting>
    </Gedcom.Web.My.MySettings>
  </applicationSettings>

  <location path="gcr/RequestPage.aspx">
    <system.web>
      <httpRuntime maxRequestLength="10240"/>
    </system.web>
  </location>

  <system.webServer>
    <handlers>
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  
</configuration>

